.img__wrap {
	position: relative;
	width: fit-content;
	height: fit-content;
	margin: 0 10px 10px 10px;
}

.img__description_layer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(236, 200, 44, 0.6);
	color: #fff;
	visibility: hidden;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	/* transition effect. not necessary */
	transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap:hover .img__description_layer {
	visibility: visible;
	opacity: 1;
	cursor: pointer;
}

.img__description {
	transition: 0.2s;
	transform: translateY(1em);
}

.img__wrap:hover .img__description {
	transform: translateY(0);
}
