.subpage_container {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background: rgba(65, 78, 76, 0.3);
  height: 70px;
  top: 0;
  z-index: 2;
}

.top_logo:hover {
  cursor: pointer;
}

.top_logo {
  width: 140px;
  height: 50.7px;
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -70px;
  margin-top: -25.35px;
}
