.subpage_container {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  background: rgba(26, 26, 26, 0.6);
  height: 70px;
  z-index: 2;
  top: 0;
}

.top_logo:hover {
  cursor: pointer;
}

.top_logo {
  width: 140px;
  position: absolute;
  top: 14%;
  left: 5rem;
  z-index: 3;
}

.login_signup{
    float: right;
}

@media (max-width: 600px) {
  .top_logo {
    display: none;
  }
}
