.slider {
  width: 100vw;
  margin-top: 6rem;
  padding-top: 2rem;
  overflow-y: hidden;
  padding-bottom: 300px;
}

.img_container img {
  width: 420px;
  height: 300px;
  object-fit: cover;
  border-radius: 7%;
}

.img_container {
  display: block;
  text-align: center;
}

@media (max-width: 1024px) {
  .slider {
    padding-bottom: 215px;
  }
  .img_container img {
    width: 360px;
    height: 210px;
    object-fit: cover;
  }
}
