.main {
	margin: 0;
	padding: 0;

	-webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1; /* OLD - Firefox 19- */
	width: 20%; /* For old syntax, otherwise collapses. */
	-webkit-flex: 1; /* Chrome */
	-ms-flex: 1; /* IE 10 */
	flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */

	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */

	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	overflow-y: auto;
	overflow-x: hidden;
}

.tri_tl {
	position: fixed;
	top: 0;
	left: 0;
	width: 30%;
}

.tri_br {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 30%;
}

.about_container {
	width: 90%;
	height: auto;
	margin: auto;
	display: flex;
	flex-flow: row wrap-reverse;
	align-items: center;
	justify-content: space-evenly;
	position: absolute;
	top: 20%;
}

.about_subcontainer {
	width: 500px;
	background-color: rgba(26, 26, 26, 0.4);
	padding: 1rem;
}

.about_subcontainer h1 {
	color: #ecc82c;
	font-size: 2.5rem;
	margin: 0;
}

.about_subcontainer hr {
	margin: 0;
	width: 100%;
	border-top: 0.04rem solid #ecc82c;
	border-style: solid;
}

.about_subcontainer p {
	color: white;
}

.illustration {
	margin: 0;
	max-width: 377px;
	max-height: 420px;
}

@media (max-width: 974px) {
	.about_container {
		top: 15%;
	}

	.tri_tl {
		width: 50%;
	}

	.tri_br {
		width: 50%;
	}

	.illustration {
		max-width: 320px;
		max-height: 420px;
	}
}
