.home_container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.nav {
  height: 70px;
}

.main {
  width: 100vw;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  margin-top: 1rem;
  z-index: 1;
}

.card {
  width: 200px;
  height: 40px;
  line-height: 38px;

  background: #2a2c2d;
  border: 2px solid #2fb996;

  color: #2fb996;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;

  margin-top: 5px;
  margin: 0.5rem;

  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.card:hover,
.card:focus,
.card:active {
  background: #2fb996;
  color: #2a2c2d;
}

.card2 {
  width: 420px;
  height: 40px;
  line-height: 40px;

  background: #2fb996;

  color: #2a2c2d;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;

  margin-top: 5px;
  margin: 0.5rem;

  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  border-radius: 7px;
}

.card2:hover,
.card2:focus,
.card2:active {
  background: #2a2c2d;
  color: #2fb996;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .card {
    height: 40px;
    width: 220px;
    line-height: 38px;
  }

  .card2 {
    height: 40px;
    width: 220px;
    line-height: 38px;
  }
}
