
  .card {
    color: whitesmoke;
    background-color: #3a3838ee;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18em;
    overflow-wrap: break-word;
    border-radius: 5px;
    margin: 1%;
    padding: 2px 16px;
  }

  .card2 {
    color: whitesmoke;
    background-color: #3a3838ee;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18em;
    overflow-wrap: break-word;
    border-radius: 5px;
    margin: 1%;
    padding: 2px 16px;
    border: #56e443 solid;
    position: relative;
  }

  .image{
    width: 100%;
    text-align: center;
    margin-top: 6px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(243, 222, 37, 0.808);
    cursor: pointer;
  }

  .gtick {
    float: right;
    position: absolute;
    right: -10px;
    top: -10px;

  }