.event_item_container {
	background-color: #2a2c2d;
	padding: 10px;
	margin: 0 40px 40px 40px;
	border: #2fb996 solid;
	width: 400px;
	overflow-wrap: break-word;
}

.event_item_container p {
	color: white;
	margin: 0;
	margin: 8px 0 0 0;
}

.event_item_container a {
	color: #2fb996;
	font-weight: bold;
}

.event_item_container h2 {
	color: white;
	margin: 12px 0 0 0;
}

.event_item_container h3 {
	color: white;
	margin: 12px 0 0 0;
}

.event_item_container img {
	width: 100%;
	filter: grayscale(100%);
}

.reg_button {
	width: 100px;
	height: 30px;
	background-color: #2fb996;
	border: #2fb996 solid 1px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	margin: 10px 0 0 0;
	align-self: center;

	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

.btn_container {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */

	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-end;
	flex-wrap: wrap;
}

.reg_button:hover {
	background-color: #2a2c2d;
	border: #2fb996 solid 1px;
	color: white;
	cursor: pointer;
}

.event_item_container h4 {
	margin: 0;
	color: #2fb996;
}

@media (max-width: 450px) {
	.event_item_container {
		width: 300px;
	}
}

@media (max-width: 340px) {
	.event_item_container {
		width: 280px;
	}
}
